In [0]:
file_paths = "/FileStore/annual_enterprise.csv"

In [0]:
file_paths = "/FileStore/annual_enterprise.csv"
dataframe = spark.read.csv(file_paths, header=True, inferSchema=True)
dataframe.show(2)

+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
|Year|Industry_aggregation_NZSIOC|Industry_code_NZSIOC|Industry_name_NZSIOC|             Units|Variable_code|       Variable_name|   Variable_category| Value|Industry_code_ANZSIC06|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H01|        Total income|Financial perform...|930995|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H04|Sales, government...|Financial perform...|821630|  ANZSIC06 division...|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
only showing top 2 rows

In [0]:
dataframe.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Industry_aggregation_NZSIOC: string (nullable = true)
 |-- Industry_code_NZSIOC: string (nullable = true)
 |-- Industry_name_NZSIOC: string (nullable = true)
 |-- Units: string (nullable = true)
 |-- Variable_code: string (nullable = true)
 |-- Variable_name: string (nullable = true)
 |-- Variable_category: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Industry_code_ANZSIC06: string (nullable = true)

In [0]:
subsample = dataframe.select('Variable_name', 'Year', 'Units')
subsample.show(3)

+--------------------+----+------------------+
|       Variable_name|Year|             Units|
+--------------------+----+------------------+
|        Total income|2023|Dollars (millions)|
|Sales, government...|2023|Dollars (millions)|
|Interest, dividen...|2023|Dollars (millions)|
+--------------------+----+------------------+
only showing top 3 rows

In [0]:
import pyspark.sql.functions as f

In [0]:
sampled_filtered = subsample.where(f.col('Variable_name') == 'Total income')
sampled_filtered.show(4)

+-------------+----+------------------+
|Variable_name|Year|             Units|
+-------------+----+------------------+
| Total income|2023|Dollars (millions)|
| Total income|2023|Dollars (millions)|
| Total income|2023|Dollars (millions)|
| Total income|2023|Dollars (millions)|
+-------------+----+------------------+
only showing top 4 rows

In [0]:
sampled_filtered.count()

Out[7]: 1529

In [0]:
dataframe.count()

Out[8]: 50985

In [0]:
sampled_filtered_2 = subsample.where((f.col('Variable_name') == 'Total income') & (f.col('Year') == 2019))
sampled_filtered_2.show(4)

+-------------+----+------------------+
|Variable_name|Year|             Units|
+-------------+----+------------------+
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
+-------------+----+------------------+
only showing top 4 rows

In [0]:
dataframe_grouped = dataframe.groupBy('Variable_name').count()

In [0]:
dataframe_grouped.show(3)

+--------------------+-----+
|       Variable_name|count|
+--------------------+-----+
|Surplus before in...| 1529|
|        Other assets| 1474|
|Sales of other go...|  572|
+--------------------+-----+
only showing top 3 rows

In [0]:
.groupBy('Variable_name').sum('Value').show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3169496972694323>:1
----> 1 dataframe.groupBy('Variable_name').sum('Value').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/group.py:49, in df_varargs_api.<locals>._api(self, *cols)
     47 def _api(self: "GroupedData", *cols: str) -> DataFrame:
     48     name = f.__name__
---> 49     jdf = getattr(self._jgd, name)(_to_seq(self.session._sc, cols))
     50     return DataFrame(jdf, self.session)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: "Value" is not a numeric column. Aggregation function can only be applied on a numeric column.

In [0]:
dataframe.select('Value', 'Units').show(2)

+------+------------------+
| Value|             Units|
+------+------------------+
|930995|Dollars (millions)|
|821630|Dollars (millions)|
+------+------------------+
only showing top 2 rows

In [0]:
from pyspark.sql.types import IntegerType, DoubleType, StringType, BooleanType, ArrayType

dataframe = dataframe.withColumn('Value', f.col('Value').cast(DoubleType()))

In [0]:
dataframe.groupBy('Variable_name').sum('Value').show(2)

+--------------------+----------+
|       Variable_name|sum(Value)|
+--------------------+----------+
|Surplus before in...| 1805350.0|
|        Other assets|1.924057E7|
+--------------------+----------+
only showing top 2 rows

In [0]:
aggregated_table = dataframe.groupBy("Variable_name").agg(
    f.sum("Value").alias("Sum"),
    f.mean("Value").alias("Mean"),
    f.max("Value").alias("Max"),
    f.count("Value").alias("Count"),
)

In [0]:
aggregated_table.createOrReplaceTempView('DatosAggregados')

In [0]:
query = """Select * from DatosAggregados LIMIT 10 """
spark.sql(query).show(2)

+--------------------+----------+------------------+---------+-----+
|       Variable_name|       Sum|              Mean|      Max|Count|
+--------------------+----------+------------------+---------+-----+
|Surplus before in...| 1805350.0|1466.5718927701057| 124542.0| 1231|
|        Other assets|1.924057E7|22141.047180667432|1288749.0|  869|
+--------------------+----------+------------------+---------+-----+
only showing top 2 rows

In [0]:
dataframe.createOrReplaceTempView('MainDataset')

In [0]:

query1 = """ SELECT  Variable_name, year AS YearModified, Units FROM MainDataset
             WHERE Variable_name = 'Total income' and year=2019
             LIMIT 10
        """

spark.sql(query1).show(2)

+-------------+------------+------------------+
|Variable_name|YearModified|             Units|
+-------------+------------+------------------+
| Total income|        2019|Dollars (millions)|
| Total income|        2019|Dollars (millions)|
+-------------+------------+------------------+
only showing top 2 rows

In [0]:
dataframe.select("Variable_name", "Year", "Units").where(
    (f.col("Variable_name") == "Total income") & (f.col("year") == 2019)
).limit(10).show()

+-------------+----+------------------+
|Variable_name|Year|             Units|
+-------------+----+------------------+
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
| Total income|2019|Dollars (millions)|
+-------------+----+------------------+

1) Load all datasets into the Databrick system
2) Load the dataset into Spark SQL
3) Create two subsamples with the most relevance characteristics (at least five).
4) Concatenate the value of two columns
5) Group By the elements by different columns and get the max, min, mean and count of one of the numerical values
6) Filter by three conditions the number of rows
7) Convert this dataset into Pandas (Search in google)
8) Write the CSV using Pandas and PySpark (writing with Pandas is not feasible in databricks.

In [0]:
file_paths = "/FileStore/annual_enterprise.csv"
dataframe = spark.read.csv(file_paths, header=True, inferSchema=True)
dataframe.show(2)

+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
|Year|Industry_aggregation_NZSIOC|Industry_code_NZSIOC|Industry_name_NZSIOC|             Units|Variable_code|       Variable_name|   Variable_category| Value|Industry_code_ANZSIC06|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H01|        Total income|Financial perform...|930995|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H04|Sales, government...|Financial perform...|821630|  ANZSIC06 division...|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
only showing top 2 rows

In [0]:
sample_dataframe = dataframe.select('Year', 'Variable_name', 'Units', 'Industry_aggregation_NZSIOC',  'Value')
sample_dataframe.show(2)

+----+--------------------+------------------+---------------------------+------+
|Year|       Variable_name|             Units|Industry_aggregation_NZSIOC| Value|
+----+--------------------+------------------+---------------------------+------+
|2023|        Total income|Dollars (millions)|                    Level 1|930995|
|2023|Sales, government...|Dollars (millions)|                    Level 1|821630|
+----+--------------------+------------------+---------------------------+------+
only showing top 2 rows

In [0]:
sample_dataframe = sample_dataframe.withColumn('columna_concatenada' , f.concat(f.col('Year'), f.lit('@'), f.col('Variable_name')))
sample_dataframe.show(2)

+----+--------------------+------------------+---------------------------+------+--------------------+
|Year|       Variable_name|             Units|Industry_aggregation_NZSIOC| Value| columna_concatenada|
+----+--------------------+------------------+---------------------------+------+--------------------+
|2023|        Total income|Dollars (millions)|                    Level 1|930995|   2023@Total income|
|2023|Sales, government...|Dollars (millions)|                    Level 1|821630|2023@Sales, gover...|
+----+--------------------+------------------+---------------------------+------+--------------------+
only showing top 2 rows

In [0]:
sample_dataframe.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Variable_name: string (nullable = true)
 |-- Units: string (nullable = true)
 |-- Industry_aggregation_NZSIOC: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- columna_concatenada: string (nullable = true)

In [0]:
sample_dataframe = sample_dataframe.withColumn('Value', f.col('Value').cast(DoubleType()))

In [0]:
dataframe_grouped = sample_dataframe.groupBy('Year', 'Variable_name').agg(f.max('Value').alias('Max'), 
                                                                   f.min('Value').alias('Min'), 
                                                                   f.avg('Value').alias('Avg'),
                                                                   f.count('Value').alias('Count'))
dataframe_grouped.show(2)

+----+--------------------+------+-----+-------+-----+
|Year|       Variable_name|   Max|  Min|    Avg|Count|
+----+--------------------+------+-----+-------+-----+
|2023|      Indirect taxes|7426.0|  0.0|  206.2|  125|
|2018|Shareholders fund...| 949.0|119.0|524.375|   24|
+----+--------------------+------+-----+-------+-----+
only showing top 2 rows

In [0]:
dataframe_grouped_filtered = dataframe_grouped.where((f.col('Year')==2023) & (f.col('Max')> 1000) & (f.col('Count')> 100))
dataframe_grouped_filtered.show(2)

+----+--------------+--------+----+------------------+-----+
|Year| Variable_name|     Max| Min|               Avg|Count|
+----+--------------+--------+----+------------------+-----+
|2023|Indirect taxes|  7426.0| 0.0|             206.2|  125|
|2023|Current assets|861255.0|94.0|24378.092307692306|  130|
+----+--------------+--------+----+------------------+-----+
only showing top 2 rows

## Gesti√≥n de Esquema de Datos

In [0]:
data = [["Ronal", 45, "Valencia"],
        ["Ana", 25, "Barcelona"],
        ["Maria", 38, "Madrid"]
]

data

Out[86]: [['Ronal', 45, 'Valencia'], ['Ana', 25, 'Barcelona'], ['Maria', 38, 'Madrid']]

In [0]:
from pyspark.sql.types import IntegerType, DoubleType, StringType, BooleanType, ArrayType, StructField, StructType

schema = StructType([
    StructField("Nombre", StringType(), False), 
    StructField("Edad", IntegerType(), False), 
    StructField("Ciudad", StringType(), False)
])

new_dataframe = spark.createDataFrame(data, schema=schema)
new_dataframe.show(3)

+------+----+---------+
|Nombre|Edad|   Ciudad|
+------+----+---------+
| Ronal|  45| Valencia|
|   Ana|  25|Barcelona|
| Maria|  38|   Madrid|
+------+----+---------+

In [0]:
new_dataframe.printSchema()

root
 |-- Nombre: string (nullable = false)
 |-- Edad: integer (nullable = false)
 |-- Ciudad: string (nullable = false)

In [0]:
email_path = "/FileStore/email.csv"
dataset_path = "/FileStore/username_password_recovery_code.csv"

In [0]:
email_df = spark.read.csv(email_path, inferSchema=True, header=True, sep=";")
dataset_df = spark.read.csv(dataset_path, inferSchema=True, header=True, sep=";")

In [0]:
email_df.show(2)
dataset_df.show(2)

+-----------------+----------+------------+-----------+
|    Login email_y|Identifier|First name_y|Last name_y|
+-----------------+----------+------------+-----------+
|laura@example.com|      2070|       Laura|       Grey|
|craig@example.com|      4081|       Craig|    Johnson|
+-----------------+----------+------------+-----------+
only showing top 2 rows

+--------+-----------+-----------------+-------------+----------+---------+----------+----------+
|Username| Identifier|One-time password|Recovery code|First name|Last name|Department|  Location|
+--------+-----------+-----------------+-------------+----------+---------+----------+----------+
|booker12|       9012|           12se74|       rb9012|    Rachel|   Booker|     Sales|Manchester|
|  grey07|       2070|           04ap67|       lg2070|     Laura|     Grey|     Depot|    London|
+--------+-----------+-----------------+-------------+----------+---------+----------+----------+
only showing top 2 rows

In [0]:
for col_name in email_df.columns:
    if col_name != 'Identifier':
        email_df = email_df.withColumnRenamed(col_name, f'{col_name}_y')
email_df.show(2)

+-----------------+----------+------------+-----------+
|    Login email_y|Identifier|First name_y|Last name_y|
+-----------------+----------+------------+-----------+
|laura@example.com|      2070|       Laura|       Grey|
|craig@example.com|      4081|       Craig|    Johnson|
+-----------------+----------+------------+-----------+
only showing top 2 rows

In [0]:
dataframe_joined = dataset_df.join(email_df.select('Identifier', 'Login email'), how='inner', on=(dataset_df[' Identifier'] == email_df['Identifier'])).drop(' Identifier')
dataframe_joined.show(6)

+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+
| Username|One-time password|Recovery code|First name|Last name| Department|  Location|Identifier|      Login email|
+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+
|   grey07|           04ap67|       lg2070|     Laura|     Grey|      Depot|    London|      2070|laura@example.com|
|johnson81|           30no86|       cj4081|     Craig|  Johnson|      Depot|    London|      4081|craig@example.com|
|jenkins46|           14ju73|       mj9346|      Mary|  Jenkins|Engineering|Manchester|      9346| mary@example.com|
|  smith79|           09ja61|       js5079|     Jamie|    Smith|Engineering|Manchester|      5079|jamie@example.com|
+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+

In [0]:
dataset_df.printSchema()

root
 |-- Username: string (nullable = true)
 |--  Identifier: integer (nullable = true)
 |-- One-time password: string (nullable = true)
 |-- Recovery code: string (nullable = true)
 |-- First name: string (nullable = true)
 |-- Last name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Location: string (nullable = true)

In [0]:
dataset_df = dataset_df.na.fill({'Username': 'unknown' , '  Identifier': 0})

In [0]:
dataframe_joined.show(5)

+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+
| Username|One-time password|Recovery code|First name|Last name| Department|  Location|Identifier|      Login email|
+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+
|   grey07|           04ap67|       lg2070|     Laura|     Grey|      Depot|    London|      2070|laura@example.com|
|johnson81|           30no86|       cj4081|     Craig|  Johnson|      Depot|    London|      4081|craig@example.com|
|jenkins46|           14ju73|       mj9346|      Mary|  Jenkins|Engineering|Manchester|      9346| mary@example.com|
|  smith79|           09ja61|       js5079|     Jamie|    Smith|Engineering|Manchester|      5079|jamie@example.com|
+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+

In [0]:
dataframe_joined = dataframe_joined.withColumn(
    "Bonus",
    f.when(f.col("Department") == "Depot", f.lit(10)).otherwise(
        f.when(f.col("Department") == "Engineering", f.lit(20)).otherwise(f.lit(1))
    ),
)
dataframe_joined.show(4)

+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+-----+
| Username|One-time password|Recovery code|First name|Last name| Department|  Location|Identifier|      Login email|Bonus|
+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+-----+
|   grey07|           04ap67|       lg2070|     Laura|     Grey|      Depot|    London|      2070|laura@example.com|   10|
|johnson81|           30no86|       cj4081|     Craig|  Johnson|      Depot|    London|      4081|craig@example.com|   10|
|jenkins46|           14ju73|       mj9346|      Mary|  Jenkins|Engineering|Manchester|      9346| mary@example.com|   20|
|  smith79|           09ja61|       js5079|     Jamie|    Smith|Engineering|Manchester|      5079|jamie@example.com|   20|
+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+-----+

In [0]:
def cuadrado(Bonus):
    resultado = Bonus * Bonus 
    return resultado

In [0]:
cuadrado_udf = f.udf(cuadrado, IntegerType())
dataframe_joined = dataframe_joined.withColumn('Udf_Column', cuadrado_udf(f.col('Bonus')))
dataframe_joined.show()

+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+-----+----------+
| Username|One-time password|Recovery code|First name|Last name| Department|  Location|Identifier|      Login email|Bonus|Udf_Column|
+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+-----+----------+
|   grey07|           04ap67|       lg2070|     Laura|     Grey|      Depot|    London|      2070|laura@example.com|   10|       100|
|johnson81|           30no86|       cj4081|     Craig|  Johnson|      Depot|    London|      4081|craig@example.com|   10|       100|
|jenkins46|           14ju73|       mj9346|      Mary|  Jenkins|Engineering|Manchester|      9346| mary@example.com|   20|       400|
|  smith79|           09ja61|       js5079|     Jamie|    Smith|Engineering|Manchester|      5079|jamie@example.com|   20|       400|
+---------+-----------------+-------------+----------+---------+-----------+----------+----------+-----------------+-----+----------+